body {
    font-family: 'Arial', sans-serif;
    line-height: 1.6;
    margin: 0;
    padding: 0;
    background-color: #ffffff; /* Set background color to teal */
    color: #008080; /* Set text color to white */
}

header {
    background: #008080; 
    color: #fff;
    padding: 1rem 0;
    text-align: center;
}

.navbar-dark .navbar-nav .nav-link {
    color: #fff;
}

.container {
    width: 80%;
    margin: auto;
    overflow: hidden;
}
.about-container {
    max-width: 700px; /* Limit the width to prevent text clutter */
    height: 6rem; /* Add padding to increase space around the text */
}

.section-padding {
    padding: 2rem 0;
}

h1, h2 {
    color: #008080; 
}

.project-list {
    list-style: none;
    padding: 0;
    display: flex;
    flex-wrap: wrap;
    gap: 2rem;
    animation: fadeIn 1s ease-in-out;
}

.project-item {
    width: calc(50% - 2rem);
    background: #008080; /* Set project item background to teal */
    padding: 1rem;
    border: 1px solid #006666;
    box-shadow: 0 0 5px rgba(0, 0, 0, 0.1);
    animation: slideIn 1s ease-in-out;
}

.project-image {
    max-width: 100%;
    height: auto;
}

.project-description {
    font-size: 0.9rem;
    color: #fff; /* Set project description text color to white */
}

footer {
    background: #008080; 
    color: #fff;
    text-align: center;
    padding: 1rem 0;
}

footer.bg-teal {
    background-color: #008080;
}

.sliding-text {
    position: relative;
    height: 2em; /* Adjust based on your text size */
    overflow: hidden;
}

.sliding-text p {
    position: absolute;
    width: 100%;
    margin: 0;
    white-space: nowrap;
    transform: translateY(-100%);
    animation: slideUp 6s ease-in-out infinite;
    font-family: 'Arial', sans-serif;
    color: #008080; /* Set sliding text color to white */
    text-align: center;
}

.sliding-text p:nth-child(2) {
    animation-delay: 2s;
}

.sliding-text p:nth-child(3) {
    animation-delay: 4s;
}

@keyframes slideUp {
    0% {
        transform: translateY(100%);
    }
    100% {
        transform: translateY(-100%);
    }
}

@keyframes slideInLeft {
    from {
        transform: translateX(-100%);
        opacity: 0;
    }
    to {
        transform: translateX(0);
        opacity: 1;
    }
}

.slide-in {
    animation: slideInLeft 1s ease-in-out;
}

@media (max-width: 768px) {
    .project-item {
        width: 100%;
        margin-bottom: 1rem;
    }

    nav ul li {
        display: block;
        margin-bottom: 1rem;
    }
}
